form{
    width: 940px;
    margin: 0 auto;
}

form{

    text-align: center;
    font-size:15px ;
    font-style:italic ;
    padding:2em 0;
} 

form label, form legend{
    display: block;
    font-size: 20px;
    margin-bottom:10px  ;
}

.input-padrao{
    display: block;
    margin-bottom: 20px;
    padding: 10px 25px;
    width: 50%;
    font-family: 'Times New Roman', Times, serif;
}

textarea{
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}

legend{
    padding:15px 0 5px;
}

select{
    width: 40px;
    text-align: center;
}

 .checkbox{
    margin: 20px 0;
 }

.enviar{
    width: 40%;
    padding: 15px;
    background-color:rgba(145, 59, 2, 0.863);
    color: bisque;
    font-size: 18px;  
    font-weight: bold;
    border-radius: 12px;
    cursor: pointer;
   font-family: 'Times New Roman', Times, serif;
}

.enviar:hover{
   transition: 0.5s;
   background-color: rgb(143, 126, 106);
   transform: scale(1.1);
}

table{
    background-color: rgb(218, 146, 53);
    margin: 2rem auto;
    box-shadow: 5px 10px 5px;
    width: 940px;
}

  th,td{
    border :1px solid black ;
    padding:10px 20px ;
    text-align: center;
  }

  



